@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,200;0,900;1,400;1,900&display=swap');
*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

html{
    font-family: 'piazzolla', sans-serif;
    font-size: 12px;
    }
    a{
        text-decoration: none;
    }
    .first{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;        

    }
#header{
    background-image: url(../img/Spices.jpg);
    background-size:cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    }
#header::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}
#header h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transperent;
    animation: text_revel_box 1s ease;
    animation-delay: 1s;
}
#header h1 span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: crimson;
    animation: text_revel_box 1s ease;
    animation-delay: 1s;

}
#header .cta
{
    display: inline-block;
    padding:10px 30px;
    color:crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition:.3s ease;
    transition-property: background-color, color;

}

#header .cta:hover
{
    color: white;
    background-color: crimson;

}

@keyframes text_revel_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_revel{
    100%{
        color:white;
    }
}

